<!DOCTYPE html>
<html>
<body style="background:#FFA726;">
	<h1 style="text-align:center;">Nuovo Componente del corpo Docenti</h1></div>
    <%= render 'form' %>
</body>
<%= link_to 'Back', docenze_path %>
</html>
