<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @materia.nome %>
</p>

<% if session[:role] == 'amministrazione' && userlogged_in? %>
<%= link_to 'Edit', edit_materia_path(@materia) %> |
<% end %>
<%= link_to 'Back', materie_path %>
