<!DOCTYPE html>
<html>
<body style="background:#FFA726;">
	<h1 style="text-align:center;">Modifica Dati</h1></div>
    <%= render 'form' %>
</body>
<%= link_to 'Show', @amministrazione %> |
<%= link_to 'Back', amministrazioni_path %>
</html>
